/* toggle function used to be JS, but now all css
https://stackoverflow.com/questions/42267467/how-to-toggle-effect-in-div-using-only-css */

.placeholder-icon {
    background: #808080;
    margin-top: 0.8em;
    height: 2em;
    width: 2em;
    display: inline-block;
}

.close-icon img,
.search-icon img {
    margin-top: 0.4em;
    height: 3em;
    width: 3em;
}

.close-icon img {
    margin: 1em;
}

.close-icon img:hover {
    transform: scale(1.1);
}

.right-nav img {
    margin-top: 1em;
    height: 1.6em;
    width: 1.6em;
}

.close-icon img,
.search-icon img,
.checkout-icon img,
.menu-icon img {
    margin-top: 0.4em;
    height: 3em;
    width: 3em;
}

.close-icon img {
    margin: 1em;
}

.close-icon img:hover {
    transform: scale(1.1);
}

.right-nav img:hover {
    transform: scale(1.1);
}

.right-nav img:first-child {
    margin-right: 1.25em;
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    background: #BF3B3B;
    height: 3.5em;
    justify-content: space-around;
}

.nav-item {
    display: inline-block;
    padding: 1.25em 2em;
    text-align: center;
    text-decoration: none;
    color: white;
    background: #BF3B3B;
    height: 3.5em;
}

.nav-item_products {
    cursor: pointer;
}

.nav-item:hover {
    background: #A60303;
}

.sub-main-nav {
    display: none;
}

.mobile-nav {
    display: none;
}

.left-nav {
    flex: 0 0 5%;
}

.mid-nav {
    flex: 0 0 75%;
}

.right-nav {
    flex: 0 0 10%;
}

.nav-item-wrapper {
    display: inline-block;
}

.icon-container {
    display: flex;
    justify-content: space-between;
}

.checkout-icon {
    margin-right: 1.5em;
}

.menu-icon {
    margin-left: 0.8em;
}

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #BF3B3B;
    z-index: 998;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .left-nav,
    .right-nav {
        display: none;
    }
    .sub-main-nav {
        display: block;
    }
    .mobile-nav {
        flex: 0 0 100%;
        display: block;
        order: 1;
        position: relative;
        z-index: 999;
        padding-bottom: 0.5em;
        /* border-bottom: 1px solid white; */
    }
    .mid-nav .nav-item-wrapper,
    .nav-item {
        display: block;
    }
    .mid-nav {
        position: relative;
        margin-top: 1em;
        /* position: absolute;
        top: 50%;
        transform: translateY(-50%); */
        width: 100%;
        flex: 0 0 100%;
        order: 2;
        flex-direction: column;
        display: none;
        z-index: 999;
    }
    .mid-nav a {
        text-align: left;
        font-size: 1.3em;
        font-weight: 500;
    }
    .sub-main-nav a {
        font-weight: 300;
        font-size: 1.1em;
    }
    .sub-main-nav .nav-item {
        padding-left: 2.5em;
    }
    .nav-item:not(.nav-item_products):hover {
        background: #A60303;
    }
    .clicker.hidden {
        display: none;
    }
    .hiddendiv {
        display: none;
        transition: display 0.5s;
    }
    #menu-icon:target~.main-nav div div a[href="#menu-icon"],
    #sub-main-nav:target~.main-nav .mid-nav .nav-item-wrapper a[href="#sub-main-nav"] {
        display: none;
    }
    #menu-icon:target~.main-nav div div a[href="#mid-nav"],
    #sub-main-nav:target~.main-nav .mid-nav .nav-item-wrapper a[href="#sub-main-nav-hidden"] {
        display: inline-block;
    }
    #menu-icon:target~.main-nav .mid-nav,
    #menu-icon:target~.main-nav #overlay,
    #sub-main-nav:target~.main-nav .mid-nav .sub-main-nav {
        display: block;
    }
    .close-icon img,
    .search-icon img,
    .checkout-icon img,
    .menu-icon img {
        margin-top: 0.8em;
        height: 2em;
        width: 2em;
    }
}

.grid-item_submenu .clicker.hidden {
    display: none;
    background: #A60303;
    color: white;
}

.grid-item_submenu .hiddendiv {
    display: none;
    transition: display 0.5s;
}

#showBeverages:target~.sub-nav .sub-nav-beverages[href="#showBeverages"],
#showDairy-n-Meats:target~.sub-nav .sub-nav-dairynmeats[href="#showDairy-n-Meats"],
#showDryGoods:target~.sub-nav .sub-nav-drygoods[href="#showDryGoods"],
#showProduce:target~.sub-nav .sub-nav-produce[href="#showProduce"] {
    display: none;
}

#showBeverages:target~.sub-nav .sub-nav-beverages[href="#hideBeverages"],
#showDairy-n-Meats:target~.sub-nav .sub-nav-dairynmeats[href="#hideDairy-n-Meats"],
#showDryGoods:target~.sub-nav .sub-nav-drygoods[href="#hideDryGoods"],
#showProduce:target~.sub-nav .sub-nav-produce[href="#hideProduce"] {
    display: block
}

#showBeverages:target~.sub-nav .hiddendiv.sub-sub-nav-beverages,
#showDairy-n-Meats:target~.sub-nav .hiddendiv.sub-sub-nav-dairynmeats,
#showDryGoods:target~.sub-nav .hiddendiv.sub-sub-nav-drygoods,
#showProduce:target~.sub-nav .hiddendiv.sub-sub-nav-produce {
    display: block;
}

.sub-nav a {
    color: black;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.sub-sub-nav {
    padding: 0.5em;
    background-color: white;
    /* max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; */
}

.sub-nav-category {
    padding: 0.5em 0.25em;
    border-top: 1px solid black;
}

.sub-nav-category:hover {
    background-color: #A60303;
    color: white;
}

.sub-sub-nav:last-child {
    border-bottom: 1px solid black;
}


/* https://stackoverflow.com/questions/2855679/how-to-skip-first-child */

.sub-nav-category:not(:first-child):after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:not(:first-child):after {
    content: "\2212";
}