*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

span:not(.quantity) {
    font-family: 'Roboto', sans-serif;
    padding: 16px;
}

label {
    color: #333;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

input,
select {
    display: block;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 20px;
}

select {
    margin-top: -1em;
    margin-left: 1em;
}

textarea {
    display: block;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 20px;
    width: 100%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.25em;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.review_section_item h2 {
    font-size: 1.125em;
}

.rating_item h3 {
    font-weight: 200;
}

.nav-item {
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 768px) {
    .left-nav,
    .right-nav {
        display: none;
    }
    .mobile-nav {
        flex: 0 0 100%;
        display: block;
        order: 1;
    }
    .mid-nav .nav-item-wrapper,
    .nav-item {
        display: block;
    }
    .mid-nav {
        flex: 0 0 100%;
        order: 2;
        flex-direction: column;
        display: none;
        z-index: 999;
    }
    .nav-item-wrapper {
        border-top: 1px solid white;
    }
    .nav-item-wrapper:last-child {
        border-bottom: 1px solid white;
    }
    .nav-item:not(.nav-item_products):hover {
        background: #A60303;
    }
}

.breadcrumb a {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.review_form_section_item p {
    color: #333;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}


/*end of font*/

button {
    background-color: #BF3B3B;
    border: none;
    color: white;
    border-radius: 2px;
    padding: 12px 24px 12px 24px;
    font-size: 16px;
}

button:hover {
    background-color: #A60303;
}

.button {
    background-color: #BF3B3B;
    border: none;
    color: white;
    border-radius: 2px;
    padding: 12px 24px 12px 24px;
    font-size: 16px;
}

.button:hover {
    background-color: #A60303;
}


/*button end*/

.top_section {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: -webkit-flex;
    flex-wrap: -ms-flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.top_section_item:nth-of-type(1) {
    margin-bottom: 2em;
}

.top_section_item:nth-of-type(2) {
    display: flex;
    justify-content: flex-start;
    margin: 1em 10em;
}

.product_section {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: -webkit-flex;
    flex-wrap: -ms-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0em 10em;
}

.product_section_item {
    display: flex;
    flex-basis: 45%;
}

.detail_container {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.similar_product_section {
    /* display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: -webkit-flex;
    flex-wrap: -ms-flex;
    flex-wrap: nowrap; */
    margin: 4em 10em;
}

.review_section {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: -webkit-flex;
    flex-wrap: -ms-flex;
    flex-wrap: nowrap;
    margin: 0 10em;
    margin-bottom: 2em;
}

.review_section_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5em 10em;
}

.review_top_item:nth-of-type(2) {
    margin-right: 1.5em;
    display: flex;
    flex-direction: row;
}

.review_section_item h2 {
    margin-bottom: 0.5em;
}

.review_section_item {
    margin-bottom: 2em;
}

.review_section_item p {
    margin-right: 15em;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #cecece;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.rating {
    display: flex;
    margin-bottom: 1em;
}

.rating h3 {
    margin-top: 0.05em;
    margin-left: 1em;
}

.checked {
    background-color: #bf3b3b;
}

.review_form_section {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: -webkit-flex;
    flex-wrap: -ms-flex;
    flex-wrap: nowrap;
    margin: 2em 10em;
    margin-bottom: 4em;
}

.review_form_section_item {
    margin-bottom: 1em;
}

.review_form_section_item form {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.review_form_section_item form input,
.review_form_section_item form textarea {
    max-width: 50em;
}

.review_form_section_item form input,
.review_form_section_item form label {
    margin-bottom: 1em;
}

#review_submit {
    max-width: 25em;
    margin-top: 1em;
}

#form_dot {
    direction: ltr;
    position: relative;
    margin-bottom: 1.5em;
}

.form_rating {
    margin-top: 1em;
    direction: rtl;
    position: absolute;
}

.dot:hover {
    content: "\2022";
    color: #bf3b3b;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #bf3b3b;
}

.form_rating>.dot:hover::before,
.form_rating>.dot:hover~.dot:before {
    content: "\2022";
    color: #bf3b3b;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #bf3b3b;
    position: absolute;
}

*/ .footer_section {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: -webkit-flex;
    flex-wrap: -ms-flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.footer_section_item {
    border: 1px solid #ccc;
    padding: 5em 0;
    flex-basis: 100%;
}

@media(max-width: 1024px) {
    .product_section {
        flex-direction: column;
    }
    .product_section_item:nth-of-type(1) {
        margin-bottom: 2em;
    }
    .top_section_item:nth-of-type(2),
    .product_section {
        margin: 0 2em;
    }
    .similar_product_section,
    .review_form_section,
    .review_section {
        margin: 4em 2em;
    }
    .review_section_top {
        margin: 0 2em;
        margin-bottom: -3em;
    }
    .image_item {
        margin-top: 1em;
    }
    .image_item:nth-of-type(2) {
        margin-right: 2em;
    }
}


/*End of page Layout*/

.code {
    color: #6c6c6c;
    margin-top: 2em;
}

.breadcrumb {
    list-style: none;
    margin-left: -2em;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb a {
    text-decoration: none;
    color: #BF3B3B
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb li+li:before {
    content: ">";
    padding: 0.5em;
}

.image_item:nth-of-type(1) {
    display: flex;
    flex-flow: column;
    flex: 1 1 10%
}

.image_item:nth-of-type(1) img {
    margin-bottom: 1em;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 100%
}

.image_item:nth-of-type(2) img {
    margin-left: 1em;
    border: 1px solid #ccc;
    width: 100%;
}

.image_item:nth-of-type(2) {
    flex-direction: column;
    flex-basis: 80%;
}

#mainImg{
    display: block;
}

#noscript_img{
    display: block;
}

.detail_item:nth-of-type(1),
.detail_item:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

.detail_item:nth-of-type(3),
.detail_item:nth-of-type(4) {
    display: flex;
    flex-direction: column;
    max-width: 20em;
    padding-bottom: 0.5em;
}

.detail_item:nth-of-type(2) {
    margin: 4em 0;
}

.detail_item h2 {
    margin-top: 0.5em;
    font-weight: 200;
}

#detail_cartb,
.detail_item:nth-of-type(3) {
    margin-bottom: 1em;
    ;
}

#detail_description {
    margin-top: 1em;
}

footer {
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 80px 0;
    box-sizing: border-box;
    background-color: #333;
}

.container {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.container .logo_container {
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}

.container .logo_container img {
    width: 200px;
    height: auto;
}

.container .footer_item {
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.container .footer_item:last-child {
    margin-right: 0;
}

.container .footer_item h1 {
    font-size: 20px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

.container .footer_item a {
    font-size: 16px;
    color: white;
    display: block;
    width: 100%;
    padding-bottom: 4px;
    font-weight: 200;
}

.container .footer_item a {
    text-decoration: none;
}

.container .footer_item li {
    display: inline-block;
    padding: 0 4px;
    font-size: 24px;
}

.container .footer_item span {
    color: white;
    display: inline-block;
    font-weight: 200;
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 0;
    /*padding-top: 20px;*/
}

@media(max-width: 388px) {
    .dot {
        width: 15px;
        height: 15px;
    }
}

@media(max-width: 600px) {
    .review_section_top {
        flex-direction: column;
    }
    .review_top_item:nth-of-type(2) {
        margin-top: 2em;
    }
}

@media(max-width: 680px) {
    footer .container {
        width: 90%;
    }
    .container .logo_container,
    .container .footer_item {
        width: 100%;
        margin-bottom: 24px;
    }
    .review_section_item p {
        margin-right: 2em;
    }
}

.grid-boxes-top,
.shop-by-category h2 {
    margin-bottom: 1em;
}

.grid-boxes-top button {
    margin-right: 1.5em;
}

.grid-boxes-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-wrap: row wrap;
    justify-content: space-between;
}

/*Product Listing Price + Name*/
.grid-boxes-container a {
    text-decoration: none;
}

.grid-boxes-container a p {
    color: black;
    font-weight: 400;
}

.grid-boxes-container a p:nth-child(3) {
    color: #BF3B3B;
}

.grid-boxes-container a p:nth-child(2):hover {
    text-decoration: underline;
}

.grid-boxes-container a .price-wrapper p {
    color: #BF3B3B;
}

/*Sale Tag*/
.price-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.grid-products-item a .price-wrapper span p,
.grid-boxes-container a .price-wrapper span p {
    color: white;
    font-size: 0.9em;
    padding: 0.1em 0.3em;
    background-color: #BF3B3B;
    letter-spacing: -0.75px;
}

.price-wrapper span {
    margin-left: 1em;
    padding-top: 0.25em;
}

.grid-products-item a .price,
.grid-boxes-container a .price {
    font-weight: 700;
    font-size: 1.2em;
    padding-top: 0.25em;
}

@media screen and (max-width: 1400px) {
    .price-wrapper {
        flex-direction: column;
    }
    .price-wrapper span {
        margin-left: -1em;
    }
    .grid-products-item a .price-wrapper span p,
    .grid-boxes-container a .price-wrapper span p {
        max-width: 60%;
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .price-wrapper {
        flex-direction: row;
    }
    .price-wrapper span {
        margin-left: -.5em;
    }
    .grid-products-item a .price-wrapper span p,
    .grid-boxes-container a .price-wrapper span p {
        font-size: 0.8em;
        max-width: 100%;
    }
}
/*End Sale Tag + Price Listing*/

.grid-boxes-top {
    display: flex;
    justify-content: space-between;
}

.grid-boxes-top button {
    position: relative;
    right: 0;
    top: 0;
}

.grid-boxes-item {
    flex: 0 0 20%;
}

.grid-boxes-item-wrapper,
.shop-by-category-item-container {
    min-width: 150px;
    padding-left: 0;
    padding-right: 1.5em;
}

.grid-boxes-item img {
    margin: 0 auto;
    max-width: 100%;
}

.price-wrapper {
    display: flex;
    justify-content: flex-start;
}

.button-wrapper {
    padding-right: 1.5em;
}

@media screen and (max-width: 768px) {
    .grid-boxes-container {
        overflow-x: auto;
    }
}

.cta_button,
.submit_button {
    background-color: #BF3B3B;
    display: inline-block;
    color: white;
    font-size: 1em;
    padding: 0.75em 1.25em;
    text-decoration: none;
    text-align: center;
}

.cta_button:hover,
.submit_button:hover {
    background-color: #A60303;
}