*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*-ms-overflow-style: none;  /* IE and Edge */
    /*scrollbar-width: none;*/
    /* Firefox */
}


/**::-webkit-scrollbar{
    display: none;
}*/

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

h1 {
    color: #BF3B53;
    font-size: 48px;
}

h2 {
    text-transform: uppercase;
    font-weight: 500;
}

.cta_button,
.submit_button {
    background-color: #BF3B3B;
    display: inline-block;
    color: white;
    font-size: 1em;
    padding: 0.75em 1.25em;
    text-decoration: none;
    text-align: center;
}

.cta_button:hover,
.submit_button:hover {
    background-color: #A60303;
}

.wide-view {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.narrow-view {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
}

.modular-element_container:first-child {
    margin-top: 2em;
}

.modular-element_container {
    margin-top: 4em;
}

.modular-element_container:last-child {
    margin-bottom: 4em;
}

.component-container {
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: 3px dotted black;
}

.component-container:first-child {
    padding-top: 0;
    padding-bottom: 2em;
    border-bottom: 3px dotted black;
}

.component-container:last-child {
    border-bottom: none;
}

.code-wrapper {
    padding: 1.5em;
}

.hero-banner {
    background-color: #F0F0F2;
    background-size: cover;
    height: auto;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;*/
    /*margin-bottom: 32px;*/
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: -webkit-flex;
    flex-wrap: -ms-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.hero-banner-content {
    width: 60%;
    padding: 6em 0em 6em 5.5em;
}

.hero-banner-image {
    background-image: url('../img/hero_banner_image.png');
    /*height: 100%;*/
    width: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    /*position: relative;
 left: 200px;*/
}

.banner_cta {
    background-color: #BF3B3B;
    display: block;
    border: none;
    color: white;
    border-radius: 2px;
    padding: 12px 24px 12px 24px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    float: left;
    /*margin-left: 4.5em;*/
}

.banner_cta:hover {
    background-color: #A60303;
}

.hero-banner-content>h1 {
    color: #333;
    width: 80%;
    margin-bottom: 0.45em;
    letter-spacing: -0.0085em;
}

.hero-banner-content>p {
    margin-bottom: 2em;
    font-size: 18px;
}

.grid-boxes-top,
.shop-by-category h2 {
    margin-bottom: 1em;
}

.grid-boxes-top button {
    margin-right: 1.5em;
}

.grid-boxes-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    /* flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-wrap: flex; */
    justify-content: space-between;
}

.grid-boxes-container a {
    text-decoration: none;
}

.grid-boxes-container a p {
    color: black;
    font-weight: 400;
}

.grid-boxes-container a p:nth-child(3) {
    color: #BF3B3B;
}

.grid-boxes-container a p:nth-child(2):hover {
    text-decoration: underline;
}

.price-wrapper {
    display: flex;
    justify-content: flex-start;
}

.grid-products-item a .price,
.grid-boxes-container a .price {
    font-weight: 700;
    font-size: 1.2em;
    padding-top: 0.25em;
}

.grid-boxes-container a .price-wrapper p {
    color: #BF3B3B;
}


/* sale tag */

.grid-products-item a .price-wrapper div p,
.grid-boxes-container a .price-wrapper div p {
    color: white;
    font-size: 0.9em;
    padding: 0.1em 0.3em;
    background-color: #BF3B3B;
    letter-spacing: -0.75px;
}

.price-wrapper div {
    margin-left: 1em;
    padding-top: 0.25em;
}

@media screen and (max-width: 1140px) {
    .price-wrapper {
        flex-direction: column;
    }
    .price-wrapper div {
        margin-left: 0;
    }
    .grid-products-item a .price-wrapper div p,
    .grid-boxes-container a .price-wrapper div p {
        max-width: 55%;
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .price-wrapper {
        flex-direction: row;
    }
    .price-wrapper div {
        margin-left: 1em;
    }
    .grid-products-item a .price-wrapper div p,
    .grid-boxes-container a .price-wrapper div p {
        max-width: 100%;
    }
}

.grid-boxes-top {
    display: flex;
    justify-content: space-between;
}

.grid-boxes-top button {
    position: relative;
    right: 0;
    top: 0;
}

.grid-boxes-item {
    flex: 0 0 20%;
}

.grid-boxes-item-wrapper,
.shop-by-category-item-container {
    min-width: 150px;
    padding-left: 0;
    padding-right: 1.5em;
}

.grid-boxes-item img {
    margin: 0 auto;
    max-width: 100%;
}

.button-wrapper {
    padding-right: 1.5em;
}

@media screen and (min-width: 1366px) {
    .hero-banner-content {
        width: 75%;
    }
    .hero-banner-image {
        width: 25%;
    }
}

@media screen and (max-width: 768px) {
    .grid-boxes-container {
        overflow-x: auto;
    }
    .hero-banner-content {
        width: 100%;
        padding: 4.5em 0em 4.5em 4em;
    }
    .hero-banner-image {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .hero-banner-content {
        width: 100%;
        padding: 3em 0em 3em 2.5em;
    }
    .hero-banner-content>p {
        width: 80%;
    }
}

@media screen and (max-width: 420px) {
    .hero-banner-content {
        width: 100%;
        padding: 3.5em 0em 3.5em 2em;
    }
    .hero-banner-content>p {
        width: 80%;
        font-size: 1em;
    }
}

.shop-by-category-container {
    overflow-x: auto;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    /* flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-wrap: row wrap; */
    justify-content: flex-start;
}

.shop-by-category-item {
    padding-right: 3em;
}

.contact-us-info h2,
.contact-us-info .address {
    padding-bottom: 0.5em;
}

.contact-info {
    display: block;
}

.contact-info a {
    text-decoration: none;
    color: black;
}

.link_button {
    /*padding:10px 24px 10px 24px;*/
    text-decoration: none;
    color: #BF3B3B;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.5em;
}

.link_button:hover {
    text-decoration: underline;
}

.grid-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    justify-content: space-between;
}

.grid-item_about-us {
    flex: 0 0 30%;
}

.grid-item_map {
    flex: 0 0 70%;
}

.contact-us-info {
    margin-right: 1.5em;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.products-header {
    padding-bottom: 0.5em;
}

.grid-item_submenu {
    flex: 0 0 20%;
}

.grid-item_product-grid {
    flex: 0 0 80%;
    padding-left: 3em;
    padding-bottom: 2em;
    /* width: 80%; */
}

.grid-products-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding-bottom: 2.5em;
}

.grid-container-test {
    display: flex;
    flex-wrap: wrap;
}

.grid-item-product-wrapper {
    position: relative;
    padding: 1em;
    padding-top: 0;
    padding-right: 0;
}

.grid-products-item {
    flex: 0 0 25%;
    padding-bottom: 3em;
}

.grid-products-item a {
    text-decoration: none;
}

.grid-products-item a p {
    color: black;
}

.grid-products-item a p:nth-child(3),
.grid-products-item a .price-wrapper p {
    color: #BF3B3B;
}

.grid-products-item a p:nth-child(2):hover {
    text-decoration: underline;
}

.grid-products-item a p:nth-child(3) {
    font-weight: 700;
    padding-top: 0.25em;
}

.product-pagination {
    text-align: center;
}

.pagination-container {
    display: inline-block;
}

.pagination-container a {
    color: #333;
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
}

.pagination-container a:hover {
    background-color: #F0F0F2;
}

.pagination-container a:nth-of-type(1):hover,
.pagination-container a:nth-of-type(8):hover {
    background-color: white;
    color: #333;
}

.pagination-container a:nth-of-type(1),
.pagination-container a:nth-of-type(8) {
    color: #999;
}

.pagination-container .page-active {
    background-color: #BF3B3B;
    color: white;
}

.pagination-container .page-active:hover {
    background-color: #A60303;
}

@media screen and (max-width: 768px) {
    .grid-container {
        flex-direction: column;
    }
    .map-responsive {
        margin-top: 1.5em;
    }
    .sub-nav {
        display: none;
    }
    .grid-item-product-wrapper {
        padding-left: 0;
        padding-right: 1em;
    }
    .grid-products-item {
        flex: 0 0 33.3%;
    }
    .grid-item_product-grid {
        padding-left: 0;
    }
}

@media screen and (max-width: 425px) {
    .grid-products-container {
        justify-content: center;
    }
    .grid-boxes-item-wrapper {
        min-width: 250px;
        padding-right: 0;
    }
}

.product_container,
.product_container img {
    width: 100%;
}

.product_brand h3 {
    font-weight: 200;
}

.product_info_item {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
}

.product_info_item a {
    text-decoration: none;
    color: black;
}

.product_brand {
    margin-top: 0.5em;
}

.grid-item-top {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    /* flex-wrap: -ms-flex;
    flex-wrap: -webkit-flex;
    flex-wrap: row wrap; */
    justify-content: space-between;
}

.product-sort {
    padding-top: 1.25em;
}

.sort_dropdown {
    display: inline-block;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 20px;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .grid-item-top {
        flex-direction: column;
    }
    .products-header {
        padding-bottom: 0.5em;
    }
    .product-sort {
        padding-top: 0;
        padding-bottom: 1.5em;
    }
    .grid-products-item {
        flex: 0 0 50%;
    }
    .sort_dropdown {
        width: 50%;
        display: block;
    }
}

#search-section {
    width: 100vw;
    height: 100vh;
    background-color: #BF3B3B;
}

.close-btn {
    margin: 2em;
}

.center-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-input-container {
    display: flex;
}

.search-input-container .search-icon {
    margin-right: 1em;
}

.input_field {
    display: block;
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: 4px;
    width: 30em;
    font-size: 1.5em;
}

.search-suggestions h1 {
    color: white;
    padding: 0.5em 0;
}

.search-suggestions a {
    display: block;
    color: white;
    padding: 0.25em 0;
}

footer {
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 80px 0;
    box-sizing: border-box;
    background-color: #333;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: -webkit-flex;
    flex-wrap: -ms-flex;
    flex-wrap: wrap;
}

.container {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.container .logo_container {
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}

.container .logo_container img {
    width: 12em;
    height: auto;
}

.container .footer_item {
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.container .footer_item a {
    text-decoration: none;
}

.container .footer_item:last-child {
    margin-right: 0;
}

.container .footer_item h1 {
    font-size: 20px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

.container .footer_item a {
    font-size: 16px;
    color: white;
    display: block;
    width: 100%;
    padding-bottom: 4px;
    font-weight: 200;
}

.container .footer_item li {
    display: inline-block;
    padding: 0 4px;
    font-size: 24px;
}

.container .footer_item span {
    color: white;
    display: inline-block;
    font-weight: 200;
    font-size: 16px;
    display: block;
    width: 100%;
}

@media(max-width: 680px) {
    footer .container {
        width: 90%;
    }
    .container .logo_container img {
        margin-left: -0.3em;
    }
    .container .logo_container,
    .container .footer_item {
        width: 100%;
        margin-bottom: 24px;
    }
}

.shop-by-category-item-wrapper {
    position: relative;
    text-align: center;
}


/* .shop-by-category-text-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
} */

.shop-by-category-text-wrapper .cta_button {
    width: 90%;
    border: 1px solid #BF3B3B;
    background: white;
    color: #BF3B3B;
    font-weight: bold;
}

.shop-by-category-text-wrapper .cta_button:hover {
    width: 90%;
    border: 1px solid #BF3B3B;
    background: #BF3B3B;
    color: white;
    font-weight: normal;
}

.about-hero-banner {
    background-image: url('../img/about_us_banner.jpg');
    background-size: cover;
    height: 28em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}

@media(max-width: 768px) {
    .about-hero-banner {
        height: 25em;
    }
    .narrow-view {
        width: 80%;
    }
}

@media(max-width: 520px) {
    .about-hero-banner {
        height: 16em;
    }
    .narrow-view {
        width: 85%;
    }
}

.about-blurb h2 {
    margin-bottom: 0.5em;
}

.about-blurb p {
    line-height: 1.5em;
    color: #333;
}

.address,
.contact-info {
    color: #333;
}

.quote-section {
    padding: 4em 2em;
    background: #F0F0F2;
}

.quote-wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: -webkit-flex;
    flex-wrap: -ms-flex;
    justify-content: space-around;
    flex-direction: column;
}

#quote,
#quote-author {
    text-align: center;
}

#quote {
    font-style: italic;
    font-size: 1.2em;
}

#quote-author {
    margin-top: 1.5em;
    font-weight: 300;
}