*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

  /*  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
*/
    /*-ms-overflow-style: none;*/  /* IE and Edge */
    /*scrollbar-width: none;*/  /* Firefox */
}


html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
}


select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.logo {
    font-size: 1.5em;
    color: #BF3B3B;
}

.checkout_header {
    padding: 1em 1.5em;
    border-bottom: 0.0625em solid #ddd;
    border-top: 0.0625em solid #ddd;
    border-right: 0.0625em solid #ddd;
}

.title {
    font-size: 1.5em;
}

.checkout_content {
    height: 100%;
    display: block;

}

.form_title {
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.form_body {
    padding: 1.5em 0em 1.5em 1.5em;
    background-color: white;
    margin-top: 1em;
    border: 0.0625em solid #ddd;
    border-radius: 0.25em;


}
.form_body .section_title{
    margin-bottom: 1em;
}
.form_body .section_title strong{
    font-weight: 500;
}

.input_label {
    color: #333;
    font-weight: 500;
    font-size: 0.875em;
    font-family: 'Roboto Condensed', sans-serif;
}

.input_field,
select {
    display: block;
    padding: 0.75em 1em;
    border: 0.0625em solid #ccc;
    border-radius: 0.125em;
    margin-top: 0.25em;
    margin-bottom: 1.25em;
    width: 100%;
}

.delivery_method_item{
   width: 100%;

   display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: -webkit-flex;
    flex-wrap: -ms-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0.5em 0px 0.5em 0px;
}


.col-1-1 {
    width: 100%;
}

.col-1-2 {
    width: 50%;
}

.col-2-3 {
    width: 66.66%;
    padding: 1.5em 1.5em 4em 1.5em;
    background-color: #F0F0F2;
    display: block;
    border-right: 1px solid #ddd;
    height: 100%;
    overflow:auto;

}

.col-1-3 {
    width: 33.33%;
    padding: 1.5em;
    background-color: white;
    border-right: 0.0625em solid #ddd;
    height: 100%;
    display: block;
    overflow:hidden;


}

.col-1-4 {
    width: 25%;
}

.col-3-4 {
    width: 75%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}


/*no padding for the last field */


/*.grid-pad > [class*='col-']:last-of-type {
  padding-right: 0px;
}
*/


/*set spacing between two aligned fields*/

[class*='col-'] {
    float: left;
    padding-right: 1.5em;
}


.checkout_summary {
    padding: 0.5em 2em 1em 1.5em;
}

.checkout_summary .summary_title h1{
    margin-bottom: 2em;
    font-size: 1.25em;
}

.summary_detail_container {
    margin-bottom: 1.5em;
    border-bottom: 0.0625em solid #ddd;
}

.summary_detail_item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: -webkit-flex;
    flex-wrap: -ms-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0.5em 0em 0.5em 0em;
}

.item_label {
    width: 75%;
    font-size: 0.875em;
    color: #333;
}

.item_value {
    width: 25%;
    font-size: 0.875em;
    color: #333;
    text-align: right;
}

.checkout_button{
    background-color: #BF3B3B;
    display: block;
    width: 100%;
    border: none;
    color: white;
    border-radius: 0.125em;
    padding: 0.75em 1.5em 0.75em 1.5em;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
}

.checkout_button:hover {
    background-color: #A60303;
}



.shopping_cart {
    /*padding-right: 1.5em;*/
}

.product_image {
    height: 5em;
    width: 5em;
    display: block;
}

.detail_container {
    float: left;
    display: block;
}

.detail_container_right {
    float: right;
    width: 25%;
}

.detail_container_left {
    width: 75%;
}

.product_title {
    font-size: 1em;
    text-decoration: none;
    color: #333;
    order: 1;
}

.quantity_stepper {
    margin-top: 1em;
}
.stepper_icon{
   color: #BF3B3B;
}
.stepper_icon:hover{
   color: #A60303;

}

.item_quantity {
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 1em;
    height: 1.5em;
    box-sizing: border-box;
    text-overflow: ellipsis;
    border: none;
    text-align: center;
    position: relative;
    bottom: 0.3125em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product_price {
    float: right;
    display: block;
}

.product_price strong {
    font-size: 1.25em;
    margin: 0;
    order: 3;
}

.item_remove a, #link_bt {
    color: #BF3B3B;
    text-decoration: none;
    margin: 0;
    font-size: 0.875em;
    font-weight: 500;
}

.item_remove span {
    color: #BF3B3B;
    position: relative;
    top: 0.3125em;
}

.order_confirmation {
    background-color: #F0F0F2;
    width: 100%;
    height: 100%;
    padding: 4em;
}

.confirmation_container {
    background-color: white;
    padding: 0.75em 2em 1em 2em;
    border-radius: 0.25em;
}

.arriving_date {
    margin-bottom: 2em;
}

@media (max-width: 600px) {
    .col-2-3 {
        width: 100%;
        padding: 1.5em 1em 1.5em 1em;
        height: auto;
    }
    .col-1-3 {
        width: 100%;
        height: 50%;
    }
    .checkout_summary {
        padding: 0.5em 1.5em 1em 1.5em;
    }
    .order_confirmation {
        padding: 2.5em 1.5em;
    }
}