*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.component-container {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    border-bottom: 3px dotted black;
}

.component-container:first-child {
    padding-top: 0;
    padding-bottom: 2em;
    border-bottom: 3px dotted black;
}

.component-container:last-child {
    border-bottom: none;
}

.code-wrapper {
    display: flex;
    justify-content: flex-start;
}

.box-item {
    margin-top: 1.5em;
    flex: 0 0 49%;
    padding: 1.5em;
    background: #ccc;
}

.box-item:nth-child(2) {
    margin-left: 1%;
}

.js-code {
    margin-top: 1.5em;
    padding: 1.5em;
    background: #ccc;
}

.submenu-container {
    width: 25%;
    margin-left: 1.5em;
}

.map-container {
    width: 80%;
}