*, *::before, *::after{

	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;

	list-style: none;
	text-decoration: none;
	margin:0;
	padding:0;
}

html, body{
	font-family: 'Roboto', sans-serif;
	margin:0;
	height:100%;
}


footer{
	width: 100vw;
	display: block;
	overflow: hidden;padding: 80px 0;
	box-sizing: border-box;
	background-color: #333;

}

.container{
	display: block;
	margin:0 auto;
	width:1100px;
	height: 100%;
}

.container .logo_container{
	width:35%;
	float:left;
	height:100%;
	display: block; 
}

.container .logo_container img{
	width:64px; 
	height:auto ;
}

.container .footer_item{
	width:calc(21.6666666667% - 20px);
	margin-right:10px;
	float:left; 
	height: 100%;

}

.container .footer_item:last-child{
	margin-right: 0;

	}

.container .footer_item h1{
	font-size:20px;
	color:white; 
	display: block;
	width: 100%;
	margin-bottom: 16px; 

}

.container .footer_item a{
	font-size:16px;
	color:white; 
	display: block;
	width: 100%;
	padding-bottom: 4px;
	font-weight: 200;


}

.container .footer_item li{
	display: inline-block;
	padding: 0 4px;
	font-size: 24px;
}

.container .footer_item span{
	color:white;
	display: inline-block;
	font-weight: 200;
	font-size: 16px;
	display: block;
	width: 100%;
	/*padding-top: 20px;*/
}

@media(max-width: 680px){
	footer .container{
		width: 90%;
	}

	.container .logo_container,
	.container .footer_item{
		width: 100%;
		margin-bottom: 24px; 
	}
}

